@if (ProductService.Products.Length == 0)
{
    <span>Products are loading ...</span>
}
else
{
    <MudGrid>
        @foreach (Product item in @ProductService.Products)
        {
            <MudItem xs="6" sm="4">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <ProductItem Product="@item" />
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
}